 {% extends "base.html.twig" %}
 {% block title %} Mon Projet - Accueil {% endblock %}
 {% block body %} 
 <div class="container mt-4">
<div class="jumbotron">
  <h1 class="display-4">Bienvenue sur mon projet!</h1>
  <img class="imageHome" src="{{asset('img/imageAccueil.png')}}" alt="..."></img>
  <p class="lead">Mon projet est une application Symfony.</p>
  <p>C'est un projet de mise en oeuvre du CRUD avec une interface graphique.</p>
  <p>Il utilise Bootstrap et Bootswatch pour facilité l'utilisation de ma part et de mise en place pratique de design.</p>
  <p>J'utilise le formulaire Bootstrap déjà incorporé dans Symfony pour mon formulaire de création d'un nouveau vélo ou d'une nouvelle catégorie.</p>
  <p>Relation one-to-many entre ma table catégorie et vélo.</p>

  <hr class="my-4">
  <p>Pour commencer rendez-vous sur la page d'inscription pour utiliser l'application.</p>
  <a class="btn btn-primary btn-lg" href="{{ path('security.login') }}" role="button">Inscription</a>
</div>
</div>
 {% endblock %}
