{% extends "base.html.twig" %}
{% block title %}
	Kraken
{% endblock %}
{% block body %}
	<div class="container-fluid p-0">
		<div class="image-container">
		<!-- Modal de choix des cookies -->
			<div id="cookieModal" class="cookie-modal" style="display: {{ app.request.cookies.get('cookieConsent') ? 'none' : 'block' }}">
				<div class="cookie-modal-content">
					<h3>Gestion des cookies</h3>
					<p>
						Nous utilisons des cookies pour améliorer votre expérience sur notre site. 
						Vous pouvez choisir d'accepter ou de refuser les cookies.
					</p>
					<div class="cookie-modal-actions">
						<button id="acceptCookies" class="btn btn-primary">Accepter</button>
						<button id="rejectCookies" class="btn btn-secondary">Refuser</button>
					</div>
				</div>
			</div>
			<h1 class="title-on-image">
				<strong>Magasin de vélos Kraken</strong>
			</h1>
			<img class="img-fluid imageHome" src="{{ asset('img/imageMagasin.jpg') }}" alt="image du magasin">
		</div>
		
		<h2 class="titreHome1 mt-4 mx-5" style="color: var(--b-violet)">
			<b>Informations Pratiques:</b>
		</h2>

			<section class="row mx-5">
				<div class="col-lg-6 col-md-12 card2 mb-4">
					<h3 class="titreHome1 mt-4" style="color: var(--b-violet)">
						<b>Adresse:</b>
					</h3>
					<p>8 Avenue de la Gare, 75015 Paris</p>

					<h3 class="titreHome1 mt-4" style="color: var(--b-violet)">
						<b>Contact:</b>
					</h3>
					<p><b>Tel:</b> 01 02 03 04 05</p>
					<p><b>Mail:</b> Kraken@velo.com</p>
				</div>

				<div class="col-lg-6 col-md-12 card2 mb-4">
					<h3 class="titreHome1 mt-4" style="color: var(--b-violet)">
						<b>Horaires:</b>
					</h3>
					<p><b>Lundi - Samedi:</b> 10h - 19h00</p>
					<p><b>Dimanche:</b> Fermé</p>
				</div>
			</section>

			<div class="mx-5">
				<h2 class="titreHome1 mt-4" style="color: var(--b-violet)">
					<b>Description du magasin:</b>
				</h2>
				<p>
					Le magasin est ouvert depuis Juin 2024, il est entretenu dans la culture et l'amour du vélo.
					Nos vendeurs sont tous des professionnels du vélo. Ils pourront ainsi vous aiguiller au mieux lors de votre premier achat.
					Nous vous accueillerons toujours dans une ambiance familiale et conviviale.
					Au plaisir de vous voir en magasin.
				</p>
			</div>
	</div>
{% endblock %}
