{% extends 'base.html.twig' %}

{% block body %}

	<div class="container mt-4">

		<h1 class="mt-4" style="color: var(--b-violet)">Modification d'une Catégorie / Admin</h1>
		
	{{form(form)}}
	</div>
{% endblock %}
