{% extends 'base.html.twig' %}

{% block title %}Mon projet-Modification du compte utilisateur{% endblock %}

{% block body %}
{% if app.user.id %}

<div class="container">
<h1 class="mt-4" style="color: var(--b-violet)">Mon Profil</h1>
{% for message in app.flashes('warning') %}
    <div class="alert alert-warning mt-4">
        {{ message }}
    </div>
{% endfor %}
{{form(form)}}

</div>
<a class="btn btn-primary mt-4" style="width: 18rem;" href="{{ path('user.edit.password', {'id': app.user.id}) }}" role="button">
				<p>Modifier mon mot de passe</p>
			</a>
            {% endif %}
{% endblock %}
