:root {
    --bg-blue: #c6dbfc;
    --b-violet: #545ff3;
    --b-violet2: rgb(68, 78, 216);
    --box-shadow: rgb(136, 136, 130);
    --bg-white: rgb(245, 243, 243);
    --b-flex: #ccc;
    --text-red: #ff1717;
}

body {
    background-color: var(--bg-white);

}


@import "bootstrap/scss/bootstrap.scss";

.navbar {
    position: sticky;
    top: 0;
    z-index: 100;
}

.btn1 {
    border-radius: 5px;
    text-align: center;
    width: 35%;
}

.example-wrapper {
    margin: 4em auto;
    max-width: 800px;
    width: 95%;
    font: 18px/1.5 sans-serif;
    display: inline-grid;
    grid-template-columns: repeat(8, 1fr);
    background-color: var(--bg-white);
    padding: 2px 6px;
    border-radius: 5px;
    accent-color: var(--b-violet);
}

.imageHeader {
    width: 7rem;
    height: 5rem;
    border-radius: 50px 5px 50px 5px;
}

.flex-box {
    display: flex;
    background-color: var(--bg-white);
    border-radius: 5px;
    padding: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background-color: var(--bg-blue);
    border: 5px solid var(--b-violet);
    border-radius: 35px 35px 35px 35px;
    box-shadow: 10px 5px 5px 5px var(--box-shadow);
    padding: 10px;
    width: 10%;
    min-height: 35%;
    margin: 40px;
    text-align: center;
    margin-bottom: 40px;
}

.card-title1 {
    margin-bottom: 30px;
}

.card-text1 {
    margin-bottom: 60px;
}

.card1 {

    border: 10px solid var(--bg-blue);
    border-radius: 35px 35px 35px 35px;
    box-shadow: 10px 5px 5px 5px var(--box-shadow);
    padding: 10px;
    width: 42rem;
    height: 32rem;
    margin: 40px;
    text-align: center;
}

.img-fluid1 {
    border-radius: 10% 10% 1% 1%;
    width: 100%;
    min-height: 325px;
}

.card-img-top1 {
    width: 35rem;
    height: 20rem;
    margin-left: 75px
}

.card-img-top2 {
    width: 35rem;
    height: 20rem;
    margin-top: 25px
}

.rating {
    direction: rtl;
    display: inline-block;
}

.star {
    font-size: 2rem;
    color: var(--bg-white);
    cursor: pointer;
    transition: color 0.2s;
}
/* Couleur lors du survol de l'etoile */
.star:hover,
.star.selected {
    color: gold;
}

.card-body1 {
    display: flex;
    direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.card3 {
    padding: 10px;
    width: 25%;
    height: 10%;
    margin: 40px;
    text-align: center;
}

.titreHome1 {
    text-decoration: underline;
}

.image-container {
    position: relative;
    width: 100vw;
    height: auto;
}

.imageHome {
    width: 100vw;
    height: auto;
}

.title-on-image {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%); 
    color: rgb(245, 244, 244);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    text-align: center;
    width: 100vw; 
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: dark;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}
.nav-link {
    font-size: 2rem;
}
/* Styles pour la modale des cookies */
.cookie-modal {
    display: none; /* Masquée par défaut */
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.cookie-modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    width: 90%;
    max-width: 400px;
    border-radius: 8px;
    text-align: center;
}

.cookie-modal-actions button {
    margin: 10px;
}
#revokeCookies {
    color: var(--b-violet) !important;
    border: none !important;
    border-radius: 5px !important;
}
#revokeCookies:hover {
    background-color: var(--b-violet2) !important; /* Maintient la couleur lors du survol */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important; /* Ombre similaire à l'effet de survol de Bootstrap */
    color: var(--bg-white) !important; /* Met la couleur de texte en blanc */
    transform: translateY(-2px) !important; /* Laisse une petite ombre sous le bouton lors du survol */
}

/* Style pour la séparation des items dans barre de navigation */
.nav-separator::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 60%; /* Hauteur du séparateur */
    width: 2px; /* Largeur du séparateur */
    opacity: 0.6; /* Transparence pour un look plus doux */
    border-radius: 5px; /* Pour des bords arrondis */
}

/* Espacement supplémentaire pour rendre la barre de navigation plus aérée */
.navbar-nav .nav-item {
    margin-right: 10px;
    
}

.navbar .nav-link {
    padding: 0.5rem 1rem;
    font-weight: 500;
    color: #333333 !important;
    transition: color 0.2s ease-in-out;
}

.navbar .nav-link:hover {
    color: var(--b-violet) !important; /* Couleur lors du survol */
    text-decoration: underline; /* Effet souligné au survol */
}

/* Style pour les icônes (facultatif, si vous voulez ajouter des icônes dans le HTML) */
.navbar .nav-link i {
    margin-right: 5px;
    color: var(--bg-blue);
}
/* Effet de survol pour le bouton personnalisé */
.btn-custom {
    background-color: var(--b-violet); /* Couleur de fond du bouton */
    color: var(--bg-white);
    border: none;
    transition: box-shadow 0.2s ease, transform 0.2s ease; /* Animation fluide pour l'effet de survol */
}

.btn-custom:hover {
    background-color: var(--b-violet2); /* Maintient la couleur lors du survol */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre similaire à l'effet de survol de Bootstrap */
    color: var(--bg-white);
    transform: translateY(-2px); /* Légère translation pour effet de profondeur */
}
.form-control-lg {
    margin-bottom: 30px;
    padding:15px;
}

.table th,
.table td {
    border: 1px solid #0b0b0b; /* Couleur et style de la bordure verticale */
}

@media (max-width: 600px) {
    
    .container {
        padding: 10px;
    }

    .jumbotron {
        padding: 10px 0;
    }

    .imageHome {
        width: 100%;
        height: auto;
        margin: 0 auto;
    }

    /* Redimensionnement des titres */
    h1.display-4 {
        font-size: 2rem;
    }

    .titreHome {
        font-size: 1.2rem;
        text-align: center;
        margin-bottom: 15px;
    }

    /* Organisation des cartes en colonne */
    section {
        display: block;
        padding: 10px;
        margin: 0 auto;
    }

    .card-img-top {

        width: 250px;
        height: 225px;
        margin: 0 auto;
    }

    .card-img-top1 {
        width: 20em;
        height: 15rem;
        margin-left: 25px
    }

    .card-img-top2 {
        width: 20em;
        height: 15rem;
        margin-top: 25px
    }

    .card {
        width: 100%;
        margin-bottom: 20px;
    }

    .card1 {
        width: 100%;
        margin-bottom: 20px;
    }

    .card2 {
        width: 100%;
        margin-bottom: 20px;
    }

    /* Réduction des marges */
    .mx-5 {
        margin-left: 0;
        margin-right: 0;
    }


    .card2 p {
        text-align: left;
    }

    /* Aligner les éléments au centre pour les petits écrans */
    .text-center {
        text-align: center;
    }

    /* Footer styles */
    .footer-container {
        width: 100%;
    }

    .footer-content {
        width: 70rem;
        margin: 0 auto;
    }

    .social-links {
        display: flex;
        justify-content: center;

    }


    .footer-content {
        flex-direction: column;
        /* Colonne pour les petits écrans */
        align-items: center;
        width: 100%;
        /* S'assurer qu'il prend toute la largeur */
    }



    .card1 {
        width: 100%;
        height: 50%;
    }

    .social-links {
        justify-content: space-around;
        flex-wrap: wrap;
        /* Les liens sociaux s'enroulent si nécessaire */

    }

    .searchbar {
        margin-top: 5px;
    }

    .btn1 {
        margin-top: 5px;
    }
    .title-on-image {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%); 
        color: white;
        font-size: 1.5rem;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 10px;
        text-align: center;
        width: 100vw; 
    }
    .nav-link {
        font-size: 1rem;
    }
}