body {
    background-color: white;
}
@import "bootstrap/scss/bootstrap.scss";
.example-wrapper {
    margin: 4em auto;
    max-width: 800px;
    width: 95%; 
    font: 18px/1.5 sans-serif;
    display:inline-grid;
    grid-template-columns: repeat(8,1fr);
    background-color: rgb(245, 245, 220);
    padding: 2px 6px; 
    border-radius: 5px;
    accent-color: rgba(207, 71, 8, 0.897);
            }
            .imageHome{
                width: 40rem;
                height: 25rem;
                border-radius: 5%;
            }
            .flex-box{
                display: flex;
                background-color: rgb(253, 253, 252);
                border: 1px solid #ccc;
                border-radius: 5px;
                padding: 10px;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
            }
            .card{
                background-color: rgb(245, 245, 220);
                border: 5px solid rgba(207, 71, 8, 0.897);
                border-radius: 5px;
                padding: 10px;
                width: 25%;
                height: 10%;
                margin: 40px;
                text-align: center;
            }
            .imagevelo{
                width: 5rem;
                height: 5rem;
                border-radius: 5%;
            }

