{% extends 'base.html.twig' %}

{% block title %}Page de Login{% endblock %}

{% block body %}
<div class="class container">
<h1 class="class mt-4" style="color: var(--b-violet)">Connexion</h1>
{% for message in app.flashes('success') %}
    <div class="alert alert-success mt-4">
        {{ message }}
    </div>
{% endfor %}
{% if error %}
<div class="alert alert-danger">
    {{ error.messageKey | trans(error.messageData, 'security') }}
</div>

{% endif %}

<form action="{{ path('security.login') }}" method="POST">
<div>
        <label for="username" class="form-label mt-4">Addresse mail</label>
        <input type="email" class="form-control" id="username" aria-describedby="emailHelp" name="_username" placeholder="Exemple de mail : exemple@gmail.com" value="{{lastUsername}}">
        <small id="emailHelp" class="form-text text-muted">Nous ne partagerons jamais votre mail avec quelqu'un d'autre.</small>
    </div>
    <div>
        <label for="password" class="form-label mt-4">Votre mot de passe</label>
        <input type="password" class="form-control" id="password" name="_password" placeholder="Mot de passe sécurisé" autocomplete="off">
    </div>
    <button type="submit" class="btn btn-primary mt-4">Se connecter</button>
</form>
</div>
{% endblock %}
